.App {
  text-align: center;
}

.form-select {
  width: unset !important;
}

body {
  background: url(../src/images/gunesli.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
